<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Respondent_form_edit" 
        service="Respondent" 
        entity="Respondent" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #email attr="email" label="email" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="RESPONDENTACTIVITY-respondent_id">
    <div layout-padding>
      <o-table 
        attr="RespondentactivityTable" 
        service="Respondentactivity" 
        entity="Respondentactivity" 
        keys="id"
        parent-keys="respondent_id:id"
        columns="id;respondent_id;last_active_date;surveys_completed"  
        horizontal-scroll="yes"
        detail-form-route="Respondentactivity" 
        edit-form-route="Respondentactivity"
        visible-columns="id;respondent_id;last_active_date;surveys_completed"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="respondent_id" title="respondent_id">
    <o-table-cell-renderer-service attr="respondent_id" 
        service="Respondent" entity="RespondentType" columns="id;name"
        parent-keys="id:respondent_id"
        value-column="name" keys="respondent_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-date-input #last_active_date attr="last_active_date" type="timestamp" label="last_active_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
        
          <o-table-column #surveys_completed attr="surveys_completed" title="surveys_completed" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="RESPONSE-respondent_id">
    <div layout-padding>
      <o-table 
        attr="ResponseTable" 
        service="Response" 
        entity="Response" 
        keys="id"
        parent-keys="respondent_id:id"
        columns="id;choice_id;question_id;respondent_id;response_text"  
        horizontal-scroll="yes"
        detail-form-route="Response" 
        edit-form-route="Response"
        visible-columns="id;choice_id;question_id;respondent_id;response_text"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="choice_id" title="choice_id">
    <o-table-cell-renderer-service attr="choice_id" 
        service="Choice" entity="ChoiceType" columns="id;id"
        parent-keys="id:choice_id"
        value-column="id" keys="choice_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="question_id" title="question_id">
    <o-table-cell-renderer-service attr="question_id" 
        service="Question" entity="QuestionType" columns="id;id"
        parent-keys="id:question_id"
        value-column="id" keys="question_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="respondent_id" title="respondent_id">
    <o-table-cell-renderer-service attr="respondent_id" 
        service="Respondent" entity="RespondentType" columns="id;name"
        parent-keys="id:respondent_id"
        value-column="name" keys="respondent_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #response_text attr="response_text" title="response_text" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>