<o-form-layout-manager attr="Surveyresponsesummary" mode="tab" title="SURVEYRESPONSESUMMARY">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="SurveyresponsesummaryTable" 
            service="Surveyresponsesummary" 
            entity="Surveyresponsesummary" 
            title="SURVEYRESPONSESUMMARY"
            keys="id"
            columns="id;survey_id;total_responses;completion_rate" 
            header-actions="R;D"
            visible-columns="id;survey_id;total_responses;completion_rate"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="survey_id" title="survey_id">
    <o-table-cell-renderer-service attr="survey_id" 
        service="Survey" entity="SurveyType" columns="id;id"
        parent-keys="id:survey_id"
        value-column="id" keys="survey_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #total_responses attr="total_responses" title="total_responses" type="integer" editable="no" required="yes" content-align="center"></o-table-column>
            
            <o-table-column #completion_rate attr="completion_rate" title="completion_rate" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>